<div class="top-container" *ngIf="species">
  <div class="container">
    <div class="title-container">
      <div class="title-container__title">
        <h1>{{species.commonName}}</h1>
        <span class="title-container__sub text-muted">{{species.latinName}}</span>
      </div>

      <div class="title-container__actions" *ngIf="api.isAdmin">
        <div class="btn-container">
          <button class="btn btn-light btn-primary" type="button" title="Edit this species"
            [routerLink]="['/species', species._id, 'edit']">
            <i class="material-icons">edit</i>
            Edit Item
          </button>
        </div>

        <span class="vert-pipe">&nbsp;</span>

        <button class="btn btn-icon" title="Remove this species"
          (click)="deleteSpecies()"
          [disabled]="isDeleting">
          <i class="material-icons">delete</i>
          Delete Item
        </button>
      </div>
    </div>
  </div>
</div>

<div class="bottom-container" *ngIf="species">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="detail-heading">Detailed Species Information</h2>
        <section class="main-card">
          <ul class="nv-list">
            <li>
              <span class="name">Species Category:</span>
              <span class="value">{{species.category|| '-'}}</span>
            </li>
            <li class="common">
              <span class="name">Common Name:</span>
              <span class="value">{{species.commonName|| '-'}}</span>
            </li>
            <li class="latin">
              <span class="name">Latin Name:</span>
              <span class="value">{{species.latinName|| '-'}}</span>
            </li>
            <li>
              <span class="name">Date Introduced in BC:</span>
              <span class="value" [innerHTML]="(species.dateIntroBC | date:'longDate') || '-'"></span>
            </li>
            <li>
              <span class="name">Description:</span>
              <span class="value" [innerHTML]="(species.description | newlines) || '-'"></span>
            </li>
            <li>
              <span class="name">Species Image</span>
              <div class="value map-thumbnail">
                <div class="map-thumbnail__no-results" *ngIf="!(species.image.size > 0)">
                  <i class="material-icons">image</i>
                  <span class="no-results-msg">No image available</span>
                </div>
                <div class="map-container">
                  <img class="map" [src]="speciesImagePath">
                </div>
              </div>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>
