<div class="top-container" *ngIf="species">
  <div class="container">
    <div class="title-container">
      <div class="title-container__title">
        <h1><span class="text-muted">{{species.commonName}} &nbsp;&rsaquo;&nbsp; </span>
          {{!species._id ? 'Create' : 'Edit'}} Entry
        </h1>
        <span class="title-container__sub text-muted">{{species.latinName}}</span>
      </div>
      <div class="title-container__actions">
        <button class="btn btn-light" type="button" title="Cancel changes" (click)="cancelChanges()">
          Cancel
        </button>

        <div class="btn-container">
          <button class="btn btn-primary ml-1" type="button" title="Save new species"
            *ngIf="!species._id"
            (click)="addSpecies()"
            [disabled]="isSubmitting">
            <i class="spinner rotating" [hidden]="!isSubmitting"></i>
            <span>{{isSubmitting ? 'Saving' : 'Save'}}</span>
          </button>
        </div>

        <div class="btn-container">
          <button class="btn btn-primary ml-1" type="button" title="Save updated species"
            *ngIf="species._id"
            (click)="saveSpecies()"
            [disabled]="isSaving">
            <i class="spinner rotating" [hidden]="!isSaving"></i>
            <span>{{isSaving ? 'Saving' : 'Save'}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bottom-container" *ngIf="species">
  <div class="container">
    <form class="mb-3" #speciesForm="ngForm">
      <fieldset>
        <legend>Detailed Species Information</legend>
        <section class="main-card">

          <div class="form-group mb-0">
            <label>Species Category</label>
            <div [ngClass]="{'is-invalid': isSubmitSaveClicked && !species.category}">
              <select class="sort-comments form-control" [ngClass]="{'is-invalid': isSubmitSaveClicked && !species.category}"
                id="category" name="category" #category="ngModel" [(ngModel)]="species.category">
                <option *ngFor="let key of filterKeys" [value]="key" [innerHTML]="key"></option>
              </select>
            </div>
            <div class="invalid-feedback bg-danger" *ngIf="isSubmitSaveClicked && !species.category">
              Select a category
            </div>
          </div>

          <div class="form-group">
            <label>Common Name</label>
            <div [ngClass]="{'is-invalid': isSubmitSaveClicked && !species.commonName}">
              <input class="form-control" [ngClass]="{'is-invalid': isSubmitSaveClicked && !species.commonName}" type="text" id="commonName" name="commonName"
                #commonName="ngModel" [(ngModel)]="species.commonName" required aria-required="true">
            </div>
            <div class="invalid-feedback bg-danger" *ngIf="isSubmitSaveClicked && !species.commonName">
              Enter a common name
            </div>
          </div>

          <div class="form-group">
            <label>Latin Name</label>
            <div [ngClass]="{'is-invalid': isSubmitSaveClicked && !species.latinName}">
              <input class="form-control" [ngClass]="{'is-invalid': isSubmitSaveClicked && !species.latinName}" type="text" id="latinName" name="latinName"
                #latinName="ngModel" [(ngModel)]="species.latinName" required aria-required="true">
            </div>
            <div class="invalid-feedback bg-danger" *ngIf="isSubmitSaveClicked && !species.latinName">
              Enter a latin name
            </div>
          </div>

          <div class="form-group mb-0">
            <label>Date Introduced in BC</label>
            <input class="form-control" placeholder="yyyy-mm-dd" name="date1" ngbDatepicker #date1="ngbDatepicker"
              [firstDayOfWeek]="7" navigation="arrows" [(ngModel)]="dateIntroBC" (ngModelChange)="onDateChg($event)"
              (click)="date1.close()">
            <div class="input-group-append">
              <button class="btn btn-icon" (click)="date1.toggle()" type="button" tabindex="-1">
                <i class="material-icons">date_range</i>
              </button>
            </div>
          </div>

          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" rows="3" id="description" name="description"
              #description="ngModel" [(ngModel)]="species.description">
            </textarea>
          </div>

          <div class="form-group mb-0">
            <label>Species Image</label>

            <div class="map-thumbnail">
              <div class="map-thumbnail__no-results" *ngIf="!(species.image.size > 0)">
                <span class="no-results-msg">No image available</span>
              </div>
              <div class="map-container">
                <img class="map" [src]="imagePath">
              </div>
            </div>

            <button class="btn btn-icon" type="button" title="Delete image" (click)="deleteImage()">
              <i class="material-icons">delete</i>
              Delete Image
            </button>

            <app-file-upload [fileExt]="['jpg', 'jpeg', 'png', 'gif', 'tiff']" [maxFiles]="1" [maxSize]="1" [showList]="false" [files]="tempFiles"
              (filesChange)="addImage($event); tempFiles = []"></app-file-upload>
          </div>

        </section>
      </fieldset>
    </form>
  </div>
</div>
