@import "assets/styles/base/base.scss";

:host {
  @include flex-box();
  @include flex-direction(column);
  @include flex(1 1 auto);
  overflow: hidden;
}

.main-card {
  background: #fff;
  box-shadow: -1px 4px 24px 0 rgba(119, 119, 119, 0.13);
  padding: 30px;
  border-radius: 4px;
  max-width: 67%;
}

form {
  legend {
    font-size: 26px!important;
    padding: 20px 0 10px;
    font-weight: 300;
    margin-bottom: 1rem;
    letter-spacing: -0.02rem;
    float: none;
    font-size: 18px;
  }
  label {
    text-transform: uppercase;
    letter-spacing: -.015em;
    margin: 0 0 5px;
    font-weight: 600;
    font-size: 18px;
  }
  select {

  }
}

.form-group {
  padding-bottom: 1.5rem;
  margin-bottom: 0;
}

// Public Review Dates
.review-dates {
  @include clearfix();

  .form-group {
    display: inline-block;
    vertical-align: top;
  }

  .spacer {
    margin-top: 2.5rem;
    display: inline-block;
    width: 2rem;
    text-align: center;
    font-weight: 700;
  }
}

// Title Button Variants
.publish-btn {
  width: 9rem;
}

// Disposition Input

.geo-shape-data {
  margin-top: 2rem;

  .btn {
    border: none;
    background: $lightgray;
  }

  &__list {
    section {
      margin-top: 1.5rem;
      border-top: 2px solid #ddd;
    }
  }
}

.applicant-display {
  margin-bottom: 0.8rem;
  padding: 0.75rem 1rem;
  background: #f7f8fa;
}

.btn-container {
  position: relative;
  display: inline-block;

  button:disabled + span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.map-thumbnail {
  position: relative;

  .map {
    position: relative;
    outline: none;
    touch-action: none;
    background-color: #445a71;
  }
}

.map-container {
  img.map {
    max-width: 100%;
    height: auto;
  }
}

.map-thumbnail__no-results {
  text-align: center;
  position: absolute;
  background: #eee;
  z-index: 2000;
  width: 100%;
  height: 100%;
  padding: 30px;
  margin-bottom: 12px;
}

.no-results-msg {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  margin-top: -12px;
  text-align: center;
}
