<div class="container" id="anchor-point">
  <div class="spinner-container full-screen" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>

  <main *ngIf="!loading">
    <section>
      <h2>Invasive Species in British Columbia</h2>
      <p class="tab-intro">
        Click on any row to go to its detailed view.
      </p>

      <!-- TODO: add ngIf for admin only -->
      <button class="btn btn-primary" [routerLink]="['/species/0/edit']">
        <i class="material-icons">add</i>
        <span>Create New Library Item</span>
      </button>

      <div class="application-list__options">
        <mat-slide-toggle color="primary" [checked]="showOnlyOpenApps" (change)="showOnlyOpenAppsChange($event.checked)">
          Only show applications with an open or future comment period
        </mat-slide-toggle>
      </div>

      <table class="table application-table">
        <thead class="application-table__sort-header">
          <tr>
            <th class="application-table__name-col sortable" (click)="sort('category')">Category
              <i class="sort" [ngClass]="{'sort-asc': (column == 'category' && direction < 0), 'sort-desc': (column == 'category' && direction > 0) }" aria-hidden="true"></i>
            </th>
            <th class="application-table__cl_file-col sortable" (click)="sort('commonName')">Common Name
              <i class="sort" [ngClass]="{'sort-asc': (column == 'commonName' && direction < 0), 'sort-desc': (column == 'commonName' && direction > 0) }" aria-hidden="true"></i>
            </th>
            <th class="application-table__purpose-col sortable" (click)="sort('latinName')">Latin Name
              <i class="sort" [ngClass]="{'sort-asc': (column == 'latinName' && direction < 0), 'sort-desc': (column == 'latinName' && direction > 0) }" aria-hidden="true"></i>
            </th>
            <th class="application-table__region-col sortable" (click)="sort('dateIntroBC')">Date Introduced in BC
              <i class="sort" [ngClass]="{'sort-asc': (column == 'dateIntroBC' && direction < 0), 'sort-desc': (column == 'dateIntroBC' && direction > 0) }" aria-hidden="true"></i>
            </th>
          </tr>
        </thead>

        <tbody class="application-table__content">
          <ng-template ngFor let-item [ngForOf]="species | orderBy: {property: column, direction: direction}">
            <tr *ngIf="showThisApp(item)">
              <td colspan="6">
                <a [routerLink]="['/species', item._id]">
                  <span class="accordion__collapse-header--column application-table__name-col">{{item.category || '-'}}</span>
                  <span class="accordion__collapse-header--column application-table__cl_file-col">{{item.commonName || '-'}}</span>
                  <span class="accordion__collapse-header--column application-table__purpose-col">{{item.latinName || '-'}}</span>
                  <span class="accordion__collapse-header--column application-table__region-col">{{(item.dateIntroBC | date:'longDate') || '-'}}</span>
                </a>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </section>
  </main>
</div>