<div class="container" id="anchor-point">
  <div class="spinner-container full-screen" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>

  <main *ngIf="!loading">
    <section>
      <h2>Invasive Species in British Columbia</h2>
      <p class="tab-intro">
        Click on any row to go directly to its details page.
      </p>

      <button class="btn btn-primary" [routerLink]="['/a/0/edit']">
        <i class="material-icons">add</i>
        <span>Create New Entry</span>
      </button>

      <div class="application-list__options">
        <mat-slide-toggle color="primary" [checked]="showOnlyOpenApps" (change)="showOnlyOpenAppsChange($event.checked)">
          Only show applications with an open or future comment period
        </mat-slide-toggle>
      </div>

      <table class="table application-table">
        <thead class="application-table__sort-header">
          <tr>
            <th class="application-table__name-col sortable" (click)="sort('category')">Category
              <i class="sort" [ngClass]="{'sort-asc': (column == 'category' && direction < 0), 'sort-desc': (column == 'category' && direction > 0) }" aria-hidden="true"></i>
            </th>
            <th class="application-table__cl_file-col sortable" (click)="sort('commonName')">Common Name
              <i class="sort" [ngClass]="{'sort-asc': (column == 'commonName' && direction < 0), 'sort-desc': (column == 'commonName' && direction > 0) }" aria-hidden="true"></i>
            </th>
            <th class="application-table__purpose-col sortable" (click)="sort('latinName')">Latin Name
              <i class="sort" [ngClass]="{'sort-asc': (column == 'latinName' && direction < 0), 'sort-desc': (column == 'latinName' && direction > 0) }" aria-hidden="true"></i>
            </th>
            <th class="application-table__region-col sortable" (click)="sort('dateIntroBC')">Date Introduced in BC
              <i class="sort" [ngClass]="{'sort-asc': (column == 'dateIntroBC' && direction < 0), 'sort-desc': (column == 'dateIntroBC' && direction > 0) }" aria-hidden="true"></i>
            </th>
          </tr>
        </thead>

        <tbody class="application-table__content">
          <ng-template ngFor let-item [ngForOf]="species | orderBy: {property: column, direction: direction}">
            <tr *ngIf="showThisApp(item)">
              <td colspan="6">
                <a [routerLink]="['/a', item._id]">
                  <span class="accordion__collapse-header--column application-table__name-col">{{item.category || '-'}}</span>
                  <span class="accordion__collapse-header--column application-table__cl_file-col">{{item.commonName || '-'}}</span>
                  <span class="accordion__collapse-header--column application-table__purpose-col">{{item.latinName || '-'}}</span>
                  <span class="accordion__collapse-header--column application-table__region-col">{{item.dateIntroBC || '-'}}</span>
                </a>

                <div class="collapse" id="accordCollapse{{app._id}}" role="tabpanel">
                  <div class="accordion__collapse-body">
                    <div class="application-table__application-details">
                      <ul class="nv-list application-table__application-details--list">
                        <li class="p-0">
                          <span class="name">Category:</span>
                          <span class="value">{{item.category}}</span>
                        </li>
                        <li class="p-0">
                          <span class="name">Common Name:</span>
                          <span class="value">{{item.commonName || '-'}}</span>
                        </li>
                        <li class="p-0">
                          <span class="name">Latin Name:</span>
                          <span class="value">{{item.latinName || '-'}}</span>
                        </li>
                        <li class="p-0">
                          <span class="name">Date Introduced in BC:</span>
                          <span class="value" [innerHTML]="(item.dateIntroBC | date:'longDate') || '-'"></span>
                        </li>
                        <li class="p-0">
                          <span class="name">Description:</span>
                          <span class="value" [innerHTML]="(item.description | newlines) || '-'"></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </section>
  </main>
</div>