<div class="container" id="anchor-point">
  <div class="spinner-container full-screen" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>

  <main *ngIf="!loading">
    <section>
      <h2>Invasive Species in British Columbia</h2>
      <p class="tab-intro">
        Click on any row to go to its detailed view.
      </p>

      <!-- TODO: add ngIf for admin only -->
      <button class="btn btn-primary" [routerLink]="['/a/0/edit']">
        <i class="material-icons">add</i>
        <span>Create New Library Item</span>
      </button>

      <div class="application-list__options">
        <select class="sort-comments form-control" (change)="filterChange($event.checked)" [(ngModel)]="filterBy">
          <option *ngFor="let key of filterKeys" [value]="key" [innerHTML]="key"></option>
        </select>
      </div>

      <table class="table application-table">
        <thead class="application-table__sort-header">
          <tr>
            <th class="application-table__cl_file-col sortable" (click)="sort('commonName')">Common Name
              <i class="sort" [ngClass]="{'sort-asc': (column == 'commonName' && direction < 0), 'sort-desc': (column == 'commonName' && direction > 0) }" aria-hidden="true"></i>
            </th>
            <th class="application-table__purpose-col sortable" (click)="sort('latinName')">Latin Name
              <i class="sort" [ngClass]="{'sort-asc': (column == 'latinName' && direction < 0), 'sort-desc': (column == 'latinName' && direction > 0) }" aria-hidden="true"></i>
            </th>
            <th class="sortable" (click)="sort('dateIntroBC')">Date Introduced in BC
              <i class="sort" [ngClass]="{'sort-asc': (column == 'dateIntroBC' && direction < 0), 'sort-desc': (column == 'dateIntroBC' && direction > 0) }" aria-hidden="true"></i>
            </th>
            <th class="application-table__name-col sortable" (click)="sort('category')">Category
              <i class="sort" [ngClass]="{'sort-asc': (column == 'category' && direction < 0), 'sort-desc': (column == 'category' && direction > 0) }" aria-hidden="true"></i>
            </th>
          </tr>
        </thead>

        <tbody class="application-table__content">
          <ng-template ngFor let-item [ngForOf]="species | orderBy: {property: column, direction: direction}">
            <tr *ngIf="showThisApp(item)">
              <td class="accordion__collapse-header--column application-table__cl_file-col">
                <a [routerLink]="['/species', item._id]">
                  {{item.commonName || '-'}}
                </a>
              </td>
              <td class="accordion__collapse-header--column application-table__cl_file-col">
                {{item.latinName || '-'}}
              </td>
              <td class="accordion__collapse-header--column application-table__cl_file-col">{{(item.dateIntroBC | date:'longDate') || '-'}}</td>
              <td class="accordion__collapse-header--column application-table__cl_file-col">
                {{item.category || '-'}}
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </section>
  </main>
</div>
