<header class="app-header app-header--solid" id="header">
  <nav class="navbar navbar-expand-md justify-content-between">
    <a class="navbar-brand" title="Invasive Species System Build" routerLink="/">
      <span class="navbar-brand__title">Invasive Species <span class="wb">System Build</span></span>
    </a>
    <button class="navbar-toggler" type="button" title="Toggle Main Navigation"
      aria-controls="navbarText" 
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNav()">
      <i class="material-icons">menu</i>
      <span>MENU</span>
    </button>
    <div class="navbar-collapse" [@toggleNav]="isNavMenuOpen ? 'navOpen' : 'navClosed'" id="mainNav">
      <ul class="navbar-nav">
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/species" tabindex="0">
            <span>List Invasive Species</span>
          </a>
        </li>

        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" (click)="logout()" tabindex="0">
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>